*{
  margin: 0%;
}

body{
  background-color: white;
  text-align:justify;
}

header{
  height: 80px;
  background-color: #4EA0FF;
  background-image:url(../img/pattern.png);
}

main, footer{
  margin-right: 250px;
  margin-left: 250px;
}

.sommario{
  color:grey;
}
.booleaner{
  color: blue;
}

.descrizionefoto{
  font-size:small;
}

.lorem{
  margin-top: 10px;
  margin-bottom: 10px;
}

.listalorem {
  margin-top: 20px;
  margin-bottom: 20px;
}

.testoevidenziato {
background-color: #FFFF00;
}

table{
  width: 700px;
  text-align: justify;
  border-spacing: 0px;
}

th {
  color: white;
  background-color:#4EA0FF;
  margin: 0%;
}

.riga1 , .riga3{
background-color: #B1E5F2;
}



.footer{
  color: grey;
}

.monitor{
  margin-top: 15px;
  position: relative;

  }

.testofotofooter{
  position: absolute;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.graph{
  position: relative;
}



